@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenue !</h1>
    <p class="lead">SpaceConquest est un jeu de gestion de type "OGame" dans lequel vous devrez gérer vos colonies spatiales ! Collectez les ressources de vos mondes et développez votre empire à travers la galaxie !</p>
    <p><a href="#" class="btn btn-primary btn-shadow px-3 my-2 ml-0 text-left js-ht-download-link">Commencer une partie</a></p>
    <img class="img-responsive float-right" height="300" src="~/Content/space.svg" alt="SpaceConquest" />
</div>